<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="Запись на курс «Астрология. Подсказки звезд - секрет счастливой жизни»")
		meta(name="robots" content="index, follow")
		meta(name="revisit-after" content="7 days")
		meta(property="og:image" content="")
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.png")
		link(rel="appendix" href="/sitemap/")
		title Записи бесплатного 5-ти дневного интенсива «Астрология - таинство звезд. Найдите свой путь к здоровью, счастью и деньгам за 5 дней!»
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/styles.css")
		script(src="//vk.com/js/api/openapi.js?151", type="text/javascript")
		script(type="text/javascript")
			| VK.init({apiId:6314801, onlyWidgets: true});
	body#rec
		#fb-root
		script
			| (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=1039482812818888';fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'))
		#main_screen
			include pug/header
			include pug/rec/rec_first_screen_section.pug
		include pug/course/you_reach
		include pug/course/table_section
		include pug/rec/videos
		include pug/rec/feedback
		include pug/footer
		include pug/rec/rec_scripts
