section#first_screen_section
    .container
        p#pre Бесплатный 5-ти дневный интенсив
        h1 Астрология - таинство звезд. Найдите свой путь к здоровью, счастью и деньгам за 5 дней!
        .aut_n_date
            p Автор: 
                span Лидия Хэлль
            p Дата: 
                span 15-19 января, 19:00 мск
        .video_wrapper
            iframe(src="https://www.youtube.com/embed/kKZVnLaThug?rel=0&autoplay=1", allowfullscreen)
        span.hidden-link(data-link="http://goo.gl")
            img#lidia_main(src="img/lidia_main.png", alt="")