#video_testimonials
    #video_slider.video-crsl-items(data-navigation="v-testm-btns")
        .crsl-wrap.row
            .crsl-item.col-md-3
                .video_wrapper(data-youtube="zxLZ7fdnkxs")
                    img(src="img/video_1.jpg", alt="ВИдео отзыв")
                   
            .crsl-item.col-md-3
                .video_wrapper(data-youtube="zxLZ7fdnkxs")
                    img(src="img/video_1.jpg", alt="ВИдео отзыв")
                   
            .crsl-item.col-md-3
                .video_wrapper(data-youtube="zxLZ7fdnkxs")
                    img(src="img/video_1.jpg", alt="ВИдео отзыв")
                   
        nav.slidernav
            #v-testm-btns.clearfix
                a(href="javascript:void(0);" class="previous") &larr;
                a(href="javascript:void(0);" class="next") &rarr;