#video_testimonials
    #video_slider.video-crsl-items(data-navigation="v-testm-btns")
        .crsl-wrap.row
            .crsl-item.col-md-3
                .video_wrapper
                    iframe(src="https://www.youtube.com/embed/zxLZ7fdnkxs?rel=0?ecver=1")
                   
            .crsl-item.col-md-3
                .video_wrapper
                    iframe(src="https://www.youtube.com/embed/zxLZ7fdnkxs?rel=0?ecver=1")
                   
            .crsl-item.col-md-3
                .video_wrapper
                    iframe(src="https://www.youtube.com/embed/zxLZ7fdnkxs?rel=0?ecver=1")
                   
        nav.slidernav
            #v-testm-btns.clearfix
                a(href="javascript:void(0);" class="previous") &larr;
                a(href="javascript:void(0);" class="next") &rarr;