section#plan
	.container
		h3 План курса
		.plan_wrapper
			.img_wrapper
				img(src="img/silver.png", alt="Пакет Серебро - Толкование Космограммы")
			.plan_caption
				h4 Пакет Серебро - Толкование Космограммы
				ul
					li
						span 14 часов
					li
						span Толкование Космограммы. Теория и практика
					li
						span Проверка домашних заданий
					li
						span Доступ ко всем записям
					li
						span Общий чат
				p.bonus
					strong Бонусное занятие 
					| - выступление студентов с толкованием разных космограмм. 
				p.bonus
					strong Бонус: 
					| Чек лист- Толкуем космограмму для  себя и незнакомого клиента
		.plan_wrapper
			.img_wrapper
				img(src="img/gold.png", alt="Пакет Золото  - Толкование Космограммы и Формула Души")
			.plan_caption
				h4 Пакет Золото  - Толкование Космограммы и Формула Души
				ul
					li
						span 38 часов
					li
						span Толкование Космограммы
					li
						span Формула Души. 1 и 2 ступень
					li
						span Совместимость по Формуле Души и по Космограмме
					li
						span Право на сдачу экзамена с выдачей сертификата
					li
						span Теория и практика
					li
						span Проверка домашних заданий
					li
						span Доступ ко всем записям
					li
						span Общий чат
				p.bonus
					strong Бонусное занятие 
					| - выступление студентов с толкованием разных космограмм
				p.bonus
					strong Бонус: 
					| Чек лист- Толкуем космограмму для  себя и незнакомого клиента
				p.bonus
					strong Бонусное занятие 
					| - выступление студентов с толкованием разных Формул Души
				p.bonus
					strong Бонус: 
					| Чек лист- Толкуем Формул Души для  себя и незнакомого клиента
		.plan_wrapper
			.img_wrapper
				img(src="img/platinum.png", alt="Платина - Толкование Космограммы,  Формула Души и транзиты")
			.plan_caption
				h4 Платина - Толкование Космограммы,  Формула Души и транзиты
				ul
					li
						span 40 часов
					li
						span Толкование Космограммы
					li
						span Формула Души. 1 и 2 ступень
					li
						span Совместимость по Формуле Души и по Космограмме
					li
						span Право на сдачу экзамена с выдачей сертификата
					li
						span Теория и практика
					li
						span Проверка домашних заданий
					li
						span Доступ ко всем записям
					li
						span Общий чат
					li
						span Прогнозирование  будущего с помощью хорарной астрологии. Вопрос - ответ (Ответ на волнующий вас вопрос с помощью хорарной астрологии. Анализ ситуации с помощью хорарной астрологии)
				p.bonus
					strong Бонусное занятие 
					| - выступление студентов с толкованием разных космограмм
				p.bonus
					strong Бонус: 
					| Чек лист- Толкуем космограмму для  себя и незнакомого клиента
				p.bonus
					strong Бонусное занятие 
					| - выступление студентов с толкованием разных Формул Души
				p.bonus
					strong Бонус: 
					| Чек лист- Толкуем Формул Души для  себя и незнакомого клиента Формулу Души
				p.bonus
					strong Бонусное занятие: 
					| Ворота Золушки
				p.bonus
					strong Бонусное занятие: 
					| Расчет благоприятных дат для поиска подходящего партнера, как для женщин так и для мужчин
		a.button(href="#table_section") Участвовать