section#course_first_screen_section
    .container
        p#pre Курс
        h1 Астрология. Подсказки звезд - секрет счастливой жизни
        .aut_n_date
            p Автор: 
                span Лидия Хэлль
            p Дата: 
                span 25 января, 19:00 мск
        a.button(href="#table_section") Участвовать
