section#course_first_screen_section
    .container
        p#pre Полный обучающий курс
        h1 Астрология. Подсказки звезд - секрет счастливой жизни
        .aut_n_date
            p Автор: 
                span Лидия Хэлль
            p Дата: 
                span 24 января, 19:00 мск
        a.button(href="#table_section") Участвовать
