section#plan
	.container
		h3 План курса
		.plan_wrapper
			.img_wrapper
				img(src="img/silver.png", alt="Пакет Серебро - Толкование Космограммы")
			.plan_caption
				h4 Пакет Серебро - Толкование Космограммы
				ul
					li
						span 12 часов занятий
					li
						span Толкование Космограммы. Теория и практика
					li
						span Проверка домашних заданий
					li
						span Доступ ко всем записям
					li
						span Общий чат
				p.bonus
					strong Бонусное занятие (2 часа) 
					| - выступление студентов с толкованием разных космограмм.   Цель -  практика и понятия противоречий, заложенных в характере человека по гороскопу.
				p.bonus
					strong Бонус: 
					| Чек лист- Толкуем космограмму для  себя и незнакомого клиента
		.plan_wrapper
			.img_wrapper
				img(src="img/gold.png", alt="Пакет Золото  - Толкование Космограммы и Формула Души")
			.plan_caption
				h4 Пакет Золото  - Толкование Космограммы и Формула Души
				ul
					li
						span 46 часов занятий
					li
						span Толкование Космограммы. Цель -  практика и понятия противоречий, заложенных в характере человека по гороскопу
					li
						span Формула Души. 1 и 2 ступень. Цель - практика
					li
						span Проверка домашних заданий
					li
						span Доступ ко всем записям
					li
						span Общий чат
				p.bonus
					strong Бонусное занятие (2 часа) 
					| - выступление студентов с толкованием разных космограмм.   Цель -  практика и понятия противоречий, заложенных в характере человека по гороскопу
				p.bonus
					strong Бонус: 
					| Чек лист- Толкуем космограмму для  себя и незнакомого клиента
		.plan_wrapper
			.img_wrapper
				img(src="img/platinum.png", alt="Платина - Толкование Космограммы,  Формула Души и транзиты")
			.plan_caption
				h4 Платина - Толкование Космограммы,  Формула Души и транзиты
				ul
					li
						span 80 часов занятий
					li
						span Толкование Космограммы. Цель -  практика и понятия противоречий, заложенных в характере человека по гороскопу
					li
						span Формула Души. 1 и 2 ступень. Цель - практика
					li
						span Проверка домашних заданий
					li
						span Доступ ко всем записям
					li
						span Общий чат
					li
						span Личная консультация на выбор
						h5 Виды консультаций:
						ul
							li
								span Консультация для индивидуального выбора подходящей профессии, описание особенностей человека, его талантов и подбор подходящей профессии
							li
								span Потенциал, уникальность и способности вашего ребенка. Oписание особенностей ребенка, его талантов и подбор подходящей профессии
							li
								span Совместимость по Формуле Души и по Космограмме
							li
								span Прогнозирование с помощью Xорарной Aстрологии. Ответ на один волнующий вопрос о прошлом, настоящем и будущем
				p.bonus
					strong Бонусное занятие (2 часа) 
					| - выступление студентов с толкованием разных космограмм.   Цель -  практика и понятия противоречий, заложенных в характере человека по гороскопу
				p.bonus
					strong Бонус: 
					| Чек лист- Толкуем космограмму для  себя и незнакомого клиента
				p.bonus
					strong Бонусное занятие: 
					| Ворота Золушки
				p.bonus
					strong Бонусное занятие: 
					| Ворота Золушки
		a.button(href="#table_section") Участвовать