section#table_section
	.container
		h3 Выберите свой пакет участия
		table#pay_table
			tbody
				tr
					th
					th Серебро
					th Золото
					th Платина
				tr.hours
					td Количество часов
					td 14
					td 38
					td 40
				tr
					td Толкование Космограммы. Теория и практика
					td.plus +
					td.plus +
					td.plus +
				tr
					td Проверка домашних заданий
					td.plus +
					td.plus +
					td.plus +
				tr
					td Доступ ко всем записям
					td.plus +
					td.plus +
					td.plus +
				tr
					td Общий чат
					td.plus +
					td.plus +
					td.plus +
				tr
					td 
						strong Бонусное занятие 
						| выступление студентов с толкованием разных космограмм
					td.plus +
					td.plus +
					td.plus +
				tr
					td
						strong Бонус: 
						| Чек лист - Толкуем космограмму для  себя и незнакомого клиента
					td.plus +
					td.plus +
					td.plus +
				tr
					td Толкование Космограммы
					td 
					td.plus +
					td.plus +
				tr
					td Формула Души. 1 и 2 ступень
					td 
					td.plus +
					td.plus +
				tr
					td Совместимость по Формуле Души и по Космограмме
					td 
					td.plus +
					td.plus +
				tr
					td Право на сдачу экзамена с выдачей сертификата
					td 
					td.plus +
					td.plus +
				tr
					td 
						strong Бонусное занятие 
						| выступление студентов с толкованием разных Формул Души
					td.plus 
					td.plus +
					td.plus +
				tr
					td
						strong Бонус:  
						| Чек лист - Толкуем Формулу Души для  себя и незнакомого клиента 
					td.plus
					td.plus +
					td.plus +
				tr
					td Прогнозирование  будущего с помощью хорарной астрологии. Вопрос - ответ
					td 
					td
					td.plus +
				tr
					td 
						strong Бонусное занятие 
						| Ворота Золушки
					td
					td
					td.plus +
				tr
					td 
						strong Бонусное занятие 
						| Расчет благоприятных дат для поиска подходящего партнера, как для женщин так и для мужчин
					td
					td
					td.plus +
				tr.full
					td Стоимость пакета
					td 11 900р.
					td 33 900р.
					td 45 900р.
				tr.sale
					td Скидка
					td 
						span#sale_1 2 000р.
					td 
						span#sale_2 4 000р.
					td 
						span#sale_3 6 000р.
				tr.today
					td Стоимость сегодня
					td
						span#today_1 9 900р.
					td
						span#today_2 29 900р.
					td
						span#today_3 39 900р.
				tr.buttons
					td
					td 
						a.button#link_1(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1520&clean=true&lg=ru", target="_blank") Записаться
					td 
						a.button#link_2(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1521&clean=true&lg=ru", target="_blank") Записаться
					td 
						a.button#link_3(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1522&clean=true&lg=ru", target="_blank") Записаться
		table#mob_pay_table
			tbody
				tr
					th Серебро
				tr.hours
					td Количество часов: 14
				tr
					td Толкование Космограммы. Теория и практика
				tr
					td Проверка домашних заданий
				tr
					td Доступ ко всем записям
				tr
					td Общий чат
				tr
					td 
						strong Бонусное занятие 
						| выступление студентов с толкованием разных космограмм
				tr
					td
						strong Бонус: 
						| Чек лист - Толкуем космограмму для  себя и незнакомого клиента
				tr.full
					td Стоимость пакета
						br 
						| 11 900р.
				tr.sale
					td Скидка
						span#mob_sale_1 2 000р.
				tr.today
					td Стоимость сегодня
						span#mob_today_1 9 900р.
				tr.buttons
					td 
						a.button#mob_link_1(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1520&clean=true&lg=ru", target="_blank") Записаться
				tr
					th Золото
				tr.hours
					td Количество часов: 38
				tr
					td Толкование Космограммы
				tr
					td Формула Души. 1 и 2 ступень
				tr
					td Совместимость по Формуле Души и по Космограмме
				tr
					td Право на сдачу экзамена с выдачей сертификата
				tr
					td 
						strong Бонусное занятие 
						| выступление студентов с толкованием разных Формул Души
				tr
					td
						strong Бонус:  
						| Чек лист - Толкуем Формулу Души для  себя и незнакомого клиента 
				tr.full
					td Стоимость пакета
						br
						|  33 900р.
				tr.sale
					td Скидка 
						span#mob_sale_2 4 000р.
				tr.today
					td Стоимость сегодня 
						span#today_2 29 900р.
				tr.buttons
					td 
						a.button#mob_link_2(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1521&clean=true&lg=ru", target="_blank") Записаться
				tr
					th Платина
				tr.hours
					td Количество часов: 40
				tr
					td Прогнозирование  будущего с помощью хорарной астрологии. Вопрос - ответ
				tr
					td 
						strong Бонусное занятие 
						| Ворота Золушки
				tr
					td 
						strong Бонусное занятие 
						| Расчет благоприятных дат для поиска подходящего партнера, как для женщин так и для мужчин
				tr.full
					td Стоимость пакета
						br
						| 45 900р.
				tr.sale
					td Скидка 
						span#mob_sale_3 6 000р.
				tr.today
					td Стоимость сегодня 
						span#mob_today_3 39 900р.
				tr.buttons
					td 
						a.button#mob_link_3(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1522&clean=true&lg=ru", target="_blank") Записаться
		.timer
			h3 До повышения цены:
			.clock
			.clock-stop