section#you_reach
    .container
        h3 Чему вы научитесь на курсе
            br
            small (в рамках выбранного пакета)
        .item
            img(src="img/planet_1.png", alt="Планета").testimonial_photo
            h5 Пройдя курс - Серебро
            p Вы научитесь толковать Космограмму, а именно Знаки Зодиака и какими чертами характера они красят человека. Овен, Телец, Близнецы, Рак, Лев, Дева, Весы, Скорпион, Стрелец, Козерог, Водолей и Рыбы. Таланты и способности каждого знака. Внешность каждого знака зодиака, примеры людей с фотографиями.
            p Значение следующих планет во всех знаках Зодиака - Солнце, Луна, Меркурий, Венера и  Марс Толкования северного и южного узла во всех знаках зодиака. Определение возраста души.
            p Пройдя этот курс, вы  сможете с точностью от 90 до 100 % описать характер любого человека. Вы раскроете его душевную потребность, как он выражает  свои мысли, свою любовь и чувства, от чего он получает радость, как он способен действовать, кем он был в прошлой жизни и что ему нужно наработать в этой.
            p Вы раскроете противоречия в его характере, тайные и темные стороны, которые люди скрывают больше всего.  
            p На этом курсе вас ждут также  многочисленные  примеры из жизни известных людей, например как, почему Сергей Бодров снимался именно в военных фильмах, либо с борьбой и стрельбой. Почему Сноуден предал Америку и раскрыл все ее секреты. Кем был Владимир Путин в прошлой жизни и почему он работает так тесно с Дмитрием Медведевым, и так далее.
            p Не зависимо от ваших астрологических данных и вашего возраста, пройдя курс по моей системе образования, вы научитесь составлять космограмму не только себе, но живому клиенту, с которым вы не знакомы.
            p Вы научитесь зарабатывать деньги, составляя космограммы вашим клиентам

        .item
            img(src="img/planet_2.png", alt="Планета").testimonial_photo
            h5 Пройдя курс - Золото
            p Вы научитесь толковать и  Космограмму и Формулу Души.
            p Благодаря методики Формула Души, вы научитесь определять таланты и способности любого человека. Вы будете видеть, с какими задачами и предназначением человек пришел в эту жизнь, чем ему нужно заниматься, чтобы быть счастливым, успешным, богатым и  оставаться  здоровым.
            p Вы  научитесь искать ключ к решению разных проблем как - что делать, если нет  второй половины, что делать, если нет детей, что делать, если нет постоянно денег и этот список можно продолжать до бесконечности. 
            p Вы также научитесь отвечать на такие вопросы как - почему в моей жизни случилось горе, авария, болезнь, где растут корни проблемы и, что с этим делать?
            p Вы будете видеть предрасположенность людей к разным болезням и знать, что делать, чтобы сохранить свое здоровье.
            p Вы научитесь подбирать подходящие даты для разных событий, как свадьба, открытие бизнеса и так далее. Особенным занятием для вас станет совместимость по Космограмме и Формуле Души.
            p Благодаря этому уроку, вы узнаете, насколько вы совместимы с вашим партнером и какие у вас кармические  задачи. Вы узнаете, что такое противоположности, идеальная совместимость и как быть, если вы не совместимы с вашим партнером. Что делать, чтобы улучшить ваши отношения.
            p Не зависимо от ваших астрологических данных и вашего возраста, пройдя курс по моей системе образования, вы научитесь составлять и Космограмму и Формулу Души,  не только себе, но живому клиенту, с которым вы не знакомы.
            p Вы научитесь зарабатывать деньги, консультируя людей с помощью этих методик.
        .item
            img(src="img/planet_3.png", alt="Планета").testimonial_photo
            h5 Пройдя пакет Платина
            p У каждого человека есть удачные периоды, приносящие удачу, успех, любовь, деньги, замужество и многие другие подарки судьбы. В Астрологии они называются - Ворота Золушки и  они легко рассчитываются по вашей дате рождения.
            p Во время периода Ворот Золушки многие:
            ul
                li встречают свою любовь
                li выходят замуж или женятся
                li женщины получают желанную беременность
                li студенты удачно сдают экзамены
                li находят новую работу
                li получают подарки или долгожданные деньги
            p Пройдя этот вебинар, вы научитесь рассчитывать Ворота Золушки самостоятельно, как себе, таким другим. Вы всегда будете знать наиболее удачные периоды в вашей жизни, чтобы действовать именно тогда, когда звезды помогают  и несут удачу именно вам.  Вы сможете рассчитывать Ворота Золушки вашим клиентам и тем самым обретете дополнительный  финансовый доход.
            p Вы ищите мужчину или женщину, но все знакомства остаются неyспешными? Вы спрашиваете себя, когда же наступит тот день, когда противоположный пол заметит меня и не пройдет мимо? В помощью данного вебинара, вы научитесь рассчитывать появление мужчины  или женщины в вашей жизни с точностью до дня! Вы также сможете составлять такие рассчеты вашим клиентам и обретете дополнительный финансовый доход
