section#rec_first_screen_section
    .container
        p#pre Записи бесплатного 5-ти дневного интенсива
        h1 Астрология - таинство звезд. Найдите свой путь к здоровью, счастью и деньгам за 5 дней!
        .aut_n_date
            p Автор: 
                span Лидия Хэлль
            p Старт курса: 
                span 24 января, 19:00 мск
        a.button(href="/astro-star-magic/course.html" target="_blank") Подробнее
