section#videos
    .container
        h3 Записи интенсива
        .videos_wrapper
            .days
                h4 День 1
                .video_wrapper
                    iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
                p Текст домашнего задания
            .days
                h4 День 2
                .video_wrapper
                    iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
                p Текст домашнего задания
            .days
                h4 День 3
                .video_wrapper
                    iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
                p Текст домашнего задания
            .days
                h4 День 4
                .video_wrapper
                    iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
                p Текст домашнего задания
            .days
                h4 День 5
                .video_wrapper
                    iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
                p Текст домашнего задания